body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    width: 640px; /* 16x40px */
    height: 640px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

div{
    box-sizing: border-box;
}